{
    margin:0;
    padding:0;    
    }
    
    #hamnav {
        width: 100%;
        height: 95px;
        background-color: whitesmoke;  
    }
    #bottom {
        width: 100%;
        height: 95px;
        background-color: whitesmoke; 
        background-image: url(https://romm9r.github.io/ISLT4355/images/bg.jpg);
        background-size: cover;
    }


    nav p {
    font-family: arial;
    color: #222;
    font-size:24;
    line-height: 60px;
    float: left;
    padding: 0px 20px;
    }
    
    nav ul {
        float: left;
        line-height: 8px;
    }
    
    nav ul li {
        float: left;
        list-style: none;
        position:relative;
    }
    
    nav ul li a {
        display: block;
        font-family: arial;
        color: #222;
        font-size:14px;
        padding: 24px 40px;
        text-decoration: none;
        background-color: wheat;
        border: solid #898989;
    }
    
    nav ul li ul{
        display: none;
        position: absolute; 
        background-color: wheat;
        padding: 24px 0px;
        border-radius: 0px 0px 4px 4px;
    }
    nav ul li:hover ul{
        display: block;
    }
    nav ul li ul li{
        padding: 1px 8px;
        border-radius: 4px;
    }
    nav ul li ul li:hover {
        background-color:bisque;
    }
    @media screen and (max-width:810px) {
      
        ul li ul{
            z-index: 2;
            
        }
        ul li{
            
            
        }
        ul{
            position: left;
        }
        nav p{
            opacity:100%;
            width:100%;
            text-align: center;
            padding: 0px 0px;
        }
    }

   
#hamnav {
    
    
  }
  
  
  #hamitems { display: block; }
  #hamitems a {
    
  }
  #hamitems a:hover { background: #daa0a0; }
  
  
  #hamnav label, #hamburger { display: none; }



@media screen and (max-width: 768px){
   
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      
    }
    #hamitems p{
        opacity: 0%;

    }
   
    
    #hamnav label { 
      display: inline-block; 
      color: white;
      background: #6a68c0;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }
  