plkeas save me


ul li {
    display: inline; 
    border:2px solid lightblue;
    text-decoration: underline;
    text-align: center;
    width: 150px;
    list-style-type: none;
    padding: 15px 15px 15px 15px;
    margin-top: 0;
    margin-left: 20px;
    }