h1 { color:#003399;}
.tab { margin-left: 40px; }

@font-face { 

   font-family: Raleway;
   
   src: url("Raleway-VariableFont_wght.ttf");
   
   }

@media screen and (max-width:900px) {
   #intro{text-align: center;

   }

   #main{text-align: center;
      font-family: Raleway, serif;
   }
   
}
#main2{
   font-family: Raleway, serif;
}
footer{
   position:fixed;
   bottom: 0;
   padding-bottom: 35px;
}
#bottom{
   position: fixed;
   bottom: 0;

}
#Career{
 display:block;
 font-family: Raleway, serif;
}
#Future{
   display:block;
   font-family: Raleway, serif;
}


#project1{
   width: 1200px;
   
   background-color: rgb(212, 191, 231);
   
   z-index: 1;
   Display:block;
   text-align: center;
   float: left;
   font-family: Raleway, serif; 
   font-size: x-large;
   line-height: 3.5;
   

}
#project2{
   width: 1200px;
   
   background-color: rgb(191, 231, 209);
   
   float: left;
   Display:block;
   text-align: center;
   font-family: Raleway, serif; 
   font-size: x-large;
   line-height: 3.5;
   
}
#project3{
   width: 1200px;
   
   background-color: rgb(231, 191, 191);
   
   float: left;
   Display:block;
   text-align: center;
   float: left;
   font-family: Raleway, serif; 
   font-size: x-large;
   line-height: 3.5;

}

#p1{
   width: 1200px;
   float: left;
}
#p2{
   width: 1200px;
   float: left;
}
#p3{
   width: 1200px;
   float: left;
   
}
#projects{
   font-size: xx-large;
}


@media screen and (max-width:1210px) {
#project1{
   width: 100%;
   background-color: rgb(191, 226, 231);
   
   
   text-align: left;
}
#project2{
   width: 100%;
   background-color: rgb(191, 226, 231);
   
   
   text-align: left;
}
#project3{
   width: 100%;
   background-color: rgb(191, 226, 231);
   
   
   text-align: left;
}

#pro{
   position:relative;

}
#projects{
   font-size: xx-large;
}
#p1{
   width: 100%;
}
#p2{width: 100%;
}
#p3{
   width: 100%;
}
}

.picbig{
   position:absolute;
   width:0px;
   
   transition:width .3s linear 0s;
   z-index:10;
}
.pic:hover + .picbig{
   width:40px;
   height:40px;
   
}
#title{
   font-family: Raleway, serif; 
   font-size: large;
}
main{
   margin-bottom: 200px;
}
#pro{
   margin-bottom: 500px;
}

@media screen and (max-width:260px) {
label{
   width: 100%;
   font-size: 10vw;
}
}
label{
   font-family: Raleway, serif;
}