@font-face { 

    font-family: Raleway;
    
    src: url("Raleway-VariableFont_wght.ttf");
    
    }

p {font-family: Raleway, serif; }
header {font-family: Raleway, serif; }




#resume{ background-color:lightgreen;
    border:10px solid blueviolet;
    padding:12px;
    margin:20px;
    
    background-image:url("Resume.png");
    background-repeat:no-repeat;
    background-position:center center;

    height:200px;
    width:200px;
    
}
#bottom{
    position: fixed;
    bottom: 0;
}
    
@media screen and (max-width:5000px) {
    #text{
        width: 560px;
        float: left;
       }
    #resume{
        width: 300px;
        float: left;
       }
    footer{
        position: absolute;
     bottom: 0;
    }
    
 }
 @media screen and (max-width:590px) {
    #text{
        width: 100%;
        float: left;
       }
    #resume{
        width: 70%;
        float: left;
       }
    footer{
        position: absolute;
     bottom: 0;
    }
    
 }
    
@media print {
    #hamnav, 
    #resume {
        display: none;
    }
    @page {
        margin: 2.54cm;
    }
} 
