div{ background-color:lightgreen;
    border:10px solid blueviolet;
    padding:12px;
    margin:20px;
    
    background-image:url("Resume.png");
    background-repeat:no-repeat;
    background-position:center center;

    height:200px;
    width:200px;
    
}
    
@media screen and (max-width:5000px) {
    #text{
        width: 560px;
        float: left;
       }
    #resume{
        width: 300px;
        float: left;
       }
    footer{
        position: absolute;
     bottom: 0;
    }
    
 }
    

