div{ background-color:lightgreen;
    border:10px solid blueviolet;
    padding:12px;
    margin:20px;
    
    background-image:url("Resume.png");
    background-repeat:no-repeat;
    background-position:center center;

    height:200px;
    width:200px;
    
}
